* {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  color: white;
}

body {
  background-image: url(https://i.ibb.co/3CzrNsS/empty-brick-wall-with-blue-and-pink-neon-light-copyspace-3d-rendering.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
h1 {
  text-align: center;
  margin-right: 20%;
  margin-top: 5%;
  margin-left: 30%;
}
h1 {
  font-size: 30px;
  animation: pulsate 1.5s infinite alternate;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0c2ad3,
    0 0 0.8rem #0d28c5, 0 0 2.8rem #47c8da, inset 0 0 1.3rem #1f6adb;
}

.steps {
  margin-top: 83px;
  width: 35%;
  padding: 10px;
  border: 2px solid #fff700;
  color: #fff700;
  background-color: black;
  justify-content: center;
  border-radius: 10px;
  position: relaive;
  height: 480px;
  letter-spacing: 0.5px;
  line-height: 3;
  margin-left: 10px;
}

hr {
  color: #ccff15;
  border: 1px solid yellow;
}

.wrapper {
  margin-top: 20px;
  width: 60%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0c2ad3,
    0 0 0.8rem #0d28c5, 0 0 2.8rem #47c8da, inset 0 0 1.3rem #1f6adb;
}

table {
  height: 50vh;
  width: 50vh;
  margin: 80px 20px;
  border-collapse: collapse;
  border-style: hidden;
}

td {
  background-color: none;
  width: calc(100% / 3);
  height: calc(100% / 3);
  text-align: center;
  color: #fff700;
  cursor: pointer;
  border: 5px solid #ccff15;
  border-radius: 10px;
  font-size: 50px;
  outline: none;
}
td:active {
  background-color: #ccff15;
  color: #ccff15;
}

.restart {
  width: 300px;
  height: 20px;
  padding: 20px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20%;
  margin-top: 5%;
  margin-left: 30%;
  margin-bottom: -5%;
  border: 2px solid yellow;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  color: #fff700;
}

.winner-sign {
  position: absolute;
  left: 20px;
  height: 50px;
  z-index: 100;
  top: -150px;
  width: 55%;
  color: #fff700;
  background-color: black;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0c2ad3,
    0 0 0.8rem #0d28c5, 0 0 2.8rem #47c8da, inset 0 0 1.3rem #1f6adb;
  padding-top: 25px;
}
.move-to-btn {
  background-color: black;
  width: 100%;
  border: none;
  border-bottom: solid 4px yellow;
}
